# Ignore build folders
out/
build/
*.vcxproj*
*.sln

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore Visual Studio cache
.vscode/
**.vs/**                       # <--- ADD THIS LINE
*.user
*.log

# Ignore binary files
*.exe
*.dll
*.pdb

# Ignore IntelliSense databases
**/*.VC.db**                   # <--- ADD THIS LINE
**/*.ipch**                    # <--- ADD THIS LINE

# Ignore OS junk
.DS_Store
Thumbs.db
